{% extends 'layout.html' %} {% block content %}
<div class="index">
  <ranking>
    <h2 class="title">랭킹</h2>
    <table frame="void" width="80px" class="board-table">
      <colgroup>
        <col width="40px" />
        <col width="40px" />
      </colgroup>
      <thead>
        <tr>
          <th scope="col">이름</th>
          <th scope="col">게시글 수</th>
        </tr>
      </thead>

      <tbody>
        {% for account in accounts %}
        <tr>
          <td style="text-align: center">
            {{account.name}}({{account.username}})
          </td>
          <td style="text-align: center">{{account.postCount}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </ranking>

  <board>
    <h2 class="title">자유게시판</h2>
    <table frame="void" width="120px" class="board-table">
      <colgroup>
        <col width="40px" />
        <col width="10px" />
        <col width="10px" />
        <col width="10px" />
        <col width="20px" />
      </colgroup>
      <thead>
        <tr>
          <th scope="col">제목</th>
          <th scope="col">작성자</th>
          <th scope="col">조회수</th>
          <th scope="col">좋아요</th>
          <th scope="col">작성일</th>
        </tr>
      </thead>

      <tbody>
        {% for post in posts %}
        <tr>
          <td style="text-align: center">
            <a href="/post/{{post._id}}">{{post.title}}</a>
          </td>
          <td style="text-align: center">{{post.author.name}}</td>
          <td style="text-align: center">{{post.views}}</td>
          <td style="text-align: center">{{post.goodCount}}</td>
          <td style="text-align: center">{{ post.createdAt }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </board>

  <movie>
    <h2 class="title">영화 랭킹</h2>
    <table frame="void" width="80px" class="board-table">
      <colgroup>
        <col width="40px" />
        <col width="40px" />
      </colgroup>
      <thead>
        <tr>
          <th scope="col">제목</th>
          <th scope="col">개봉일자</th>
        </tr>
      </thead>

      <tbody>
        {% for BoxOffice in dailyBoxOfficeList %}
        <tr>
          <td style="text-align: center">
            <a href="/movie/{{BoxOffice.movieNm}}">{{BoxOffice.movieNm}}</a>
          </td>
          <td style="text-align: center">{{BoxOffice.openDt}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </movie>
  <graph><div id="curve_chart" style="height: 90%"></div></graph>
</div>
{% endblock %} {% block scripts %}
<script
  type="text/javascript"
  src="https://www.gstatic.com/charts/loader.js"
></script>
<script src="/public/js/index.js"></script>
{% endblock %}
