{% extends 'layout.html' %} {% block content %}
<form>
  <div class="control-wrapper">
    <label for="title" style="padding-right: 2rem;"">제목 </label>
    <input readonly type="text" id="title" name="title" value="{{ post.title }}" />
  </div>
  <div class="control-wrapper">
    <label for="author">작성자</label>
    <input readonly type="text" id="author" name="author" value="{{ post.author.name }}" style="width:3rem" />
    <label for="createdAt">작성일</label>
    <input readonly type="text" id="createdAt" name="createdAt" value="{{ post.createdAt }}" style="width:7rem" />
    <label for="views">조회수</label>
    <input readonly type="text" id="views" name="views" value="{{ post.views }}" style="width:3rem"/>
  </div> 
  <div class="control-wrapper">
    <label for="content">내용</label>
    <textarea readonly rows="20" cols="100" id="content" name="content" />{{ post.content }}</textarea>
  </div>
</form>
{% endblock %}
